/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

body 
{
	font: 13px Helvetica, Arial;
	background-color: #e2e2e2;
}

.nickname
{
	background-color: #efefef;
	text-align: center;
	width: 30%;
	display: block;

	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 100px;
	box-shadow: 2px 2px 5px black;
}

.message
{
	border-radius: 100px;
}


form {
	background-color: #efefef;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
	display: block;
	margin: 0 auto;
}

button 
{
    width: 5%;
    background: #0084ff;
    border: none;
    padding: 10px;
    float:right;
    color: white;
    border-radius: 100px;
    margin-right: 25px;
    transition: all 1s;
 }

 button:hover
 {
 	background-color: #0d72bc;
 	width: 7%;
 }

input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; }

#messages 
{
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}

li 
{ 
	background-color: #0084ff;
	color: white;
	padding: 5px 10px;	
	display: block;
	float: right;
	margin-right: 100px;
	width: 50%;
	border-radius: 100px;
	margin-top: 10px;

	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

li:nth-child(odd) 
{ 
	background-color: #cecece;
	padding: 5px 10px;	
	display: block;
	float: left;
	margin-left: 100px;
	width: 50%;
	margin-top: 10px;

	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

/*FADE IN KEYFRAMES*/
@keyframes fadein {
    from 
    { 
    	opacity: 0;
    	width: 40%;
    }
    to   
    { 
    	opacity: 1; 
    	width: 50%;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from 
    { 
    	opacity: 0;
    	width: 40%; 
    }
    to   
    { 
    	opacity: 1;
    	width: 50%; 
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from 
    { 
    	opacity: 0;
    	width: 40%; 
    }
    to   
    { 
    	opacity: 1; 
    	width: 50%;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from 
    { 
    	opacity: 0;
    	width: 40%; 
    }
    to   
    { 
    	opacity: 1; 
    	width: 50%;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from 
    { 
    	opacity: 0;
    	width: 40%; 
    }
    to   
    { 
    	opacity: 1;
    	width: 50%; 
    }
}

